<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>stickerId</key>
		<string>1</string>
		<key>imageName</key>
		<string>stickers_1</string>
	</dict>
	<dict>
		<key>stickerId</key>
		<string>2</string>
		<key>imageName</key>
		<string>stickers_2</string>
	</dict>
	<dict>
		<key>stickerId</key>
		<string>3</string>
		<key>imageName</key>
		<string>stickers_3</string>
	</dict>
	<dict>
		<key>stickerId</key>
		<string>4</string>
		<key>imageName</key>
		<string>stickers_4</string>
		<key>stickerName</key>
		<string>stickers_4_1</string>
	</dict>
	<dict>
		<key>stickerId</key>
		<string>5</string>
		<key>imageName</key>
		<string>stickers_5</string>
	</dict>
	<dict>
		<key>stickerId</key>
		<string>6</string>
		<key>imageName</key>
		<string>stickers_6</string>
		<key>stickerName</key>
		<string>stickers_6_1</string>
	</dict>
	<dict>
		<key>stickerId</key>
		<string>7</string>
		<key>imageName</key>
		<string>stickers_7</string>
	</dict>
	<dict>
		<key>stickerId</key>
		<string>8</string>
		<key>imageName</key>
		<string>stickers_8</string>
	</dict>
	<dict>
		<key>stickerId</key>
		<string>9</string>
		<key>imageName</key>
		<string>stickers_9</string>
	</dict>
	<dict>
		<key>stickerId</key>
		<string>10</string>
		<key>imageName</key>
		<string>stickers_10</string>
	</dict>
	<dict>
		<key>stickerId</key>
		<string>11</string>
		<key>imageName</key>
		<string>stickers_11</string>
	</dict>
	<dict>
		<key>stickerId</key>
		<string>12</string>
		<key>imageName</key>
		<string>stickers_12</string>
	</dict>
	<dict>
		<key>stickerId</key>
		<string>13</string>
		<key>imageName</key>
		<string>stickers_13</string>
	</dict>
	<dict>
		<key>stickerId</key>
		<string>14</string>
		<key>imageName</key>
		<string>stickers_14</string>
	</dict>
	<dict>
		<key>stickerId</key>
		<string>15</string>
		<key>imageName</key>
		<string>stickers_15</string>
	</dict>
	<dict>
		<key>stickerId</key>
		<string>16</string>
		<key>imageName</key>
		<string>stickers_16</string>
	</dict>
	<dict>
		<key>stickerId</key>
		<string>17</string>
		<key>imageName</key>
		<string>stickers_17</string>
	</dict>
	<dict>
		<key>stickerId</key>
		<string>18</string>
		<key>imageName</key>
		<string>stickers_18</string>
	</dict>
	<dict>
		<key>stickerId</key>
		<string>19</string>
		<key>imageName</key>
		<string>stickers_19</string>
	</dict>
	<dict>
		<key>stickerId</key>
		<string>20</string>
		<key>imageName</key>
		<string>stickers_20</string>
	</dict>
	<dict>
		<key>stickerId</key>
		<string>21</string>
		<key>imageName</key>
		<string>stickers_21</string>
	</dict>
	<dict>
		<key>stickerId</key>
		<string>22</string>
		<key>imageName</key>
		<string>stickers_22</string>
	</dict>
	<dict>
		<key>stickerId</key>
		<string>23</string>
		<key>imageName</key>
		<string>stickers_23</string>
	</dict>
	<dict>
		<key>stickerId</key>
		<string>24</string>
		<key>imageName</key>
		<string>stickers_24</string>
	</dict>
	<dict>
		<key>stickerId</key>
		<string>25</string>
		<key>imageName</key>
		<string>stickers_25</string>
	</dict>
	<dict>
		<key>stickerId</key>
		<string>26</string>
		<key>imageName</key>
		<string>stickers_26</string>
	</dict>
	<dict>
		<key>stickerId</key>
		<string>27</string>
		<key>imageName</key>
		<string>stickers_27</string>
	</dict>
	<dict>
		<key>stickerId</key>
		<string>28</string>
		<key>imageName</key>
		<string>stickers_28</string>
	</dict>
	<dict>
		<key>stickerId</key>
		<string>29</string>
		<key>imageName</key>
		<string>stickers_29</string>
	</dict>
	<dict>
		<key>stickerId</key>
		<string>30</string>
		<key>imageName</key>
		<string>stickers_30</string>
	</dict>
	<dict>
		<key>stickerId</key>
		<string>31</string>
		<key>imageName</key>
		<string>stickers_31</string>
	</dict>
	<dict>
		<key>stickerId</key>
		<string>32</string>
		<key>imageName</key>
		<string>stickers_32</string>
	</dict>
	<dict>
		<key>stickerId</key>
		<string>33</string>
		<key>imageName</key>
		<string>stickers_33</string>
	</dict>
	<dict>
		<key>stickerId</key>
		<string>34</string>
		<key>imageName</key>
		<string>stickers_34</string>
	</dict>
	<dict>
		<key>stickerId</key>
		<string>35</string>
		<key>imageName</key>
		<string>stickers_35</string>
	</dict>
	<dict>
		<key>stickerId</key>
		<string>36</string>
		<key>imageName</key>
		<string>stickers_36</string>
	</dict>
	<dict>
		<key>stickerId</key>
		<string>37</string>
		<key>imageName</key>
		<string>stickers_37</string>
	</dict>
	<dict>
		<key>stickerId</key>
		<string>38</string>
		<key>imageName</key>
		<string>stickers_38</string>
	</dict>
	<dict>
		<key>stickerId</key>
		<string>39</string>
		<key>imageName</key>
		<string>stickers_39</string>
	</dict>
	<dict>
		<key>stickerId</key>
		<string>40</string>
		<key>imageName</key>
		<string>stickers_40</string>
	</dict>
	<dict>
		<key>stickerId</key>
		<string>41</string>
		<key>imageName</key>
		<string>stickers_41</string>
	</dict>
	<dict>
		<key>stickerId</key>
		<string>42</string>
		<key>imageName</key>
		<string>stickers_42</string>
	</dict>
	<dict>
		<key>stickerId</key>
		<string>43</string>
		<key>imageName</key>
		<string>stickers_43</string>
	</dict>
	<dict>
		<key>stickerId</key>
		<string>44</string>
		<key>imageName</key>
		<string>stickers_44</string>
	</dict>
	<dict>
		<key>stickerId</key>
		<string>45</string>
		<key>imageName</key>
		<string>stickers_45</string>
	</dict>
	<dict>
		<key>stickerId</key>
		<string>46</string>
		<key>imageName</key>
		<string>stickers_46</string>
	</dict>
	<dict>
		<key>stickerId</key>
		<string>47</string>
		<key>imageName</key>
		<string>stickers_47</string>
	</dict>
	<dict>
		<key>stickerId</key>
		<string>48</string>
		<key>imageName</key>
		<string>stickers_48</string>
	</dict>
	<dict>
		<key>stickerId</key>
		<string>49</string>
		<key>imageName</key>
		<string>stickers_49</string>
	</dict>
	<dict>
		<key>stickerId</key>
		<string>50</string>
		<key>imageName</key>
		<string>stickers_50</string>
	</dict>
	<dict>
		<key>stickerId</key>
		<string>51</string>
		<key>imageName</key>
		<string>stickers_51</string>
	</dict>
	<dict>
		<key>stickerId</key>
		<string>52</string>
		<key>imageName</key>
		<string>stickers_52</string>
	</dict>
	<dict>
		<key>stickerId</key>
		<string>53</string>
		<key>imageName</key>
		<string>stickers_53</string>
	</dict>
	<dict>
		<key>stickerId</key>
		<string>54</string>
		<key>imageName</key>
		<string>stickers_54</string>
	</dict>
	<dict>
		<key>stickerId</key>
		<string>55</string>
		<key>imageName</key>
		<string>stickers_55</string>
	</dict>
	<dict>
		<key>stickerId</key>
		<string>56</string>
		<key>imageName</key>
		<string>stickers_56</string>
	</dict>
	<dict>
		<key>stickerId</key>
		<string>57</string>
		<key>imageName</key>
		<string>stickers_57</string>
	</dict>
	<dict>
		<key>stickerId</key>
		<string>58</string>
		<key>imageName</key>
		<string>stickers_58</string>
	</dict>
	<dict>
		<key>stickerId</key>
		<string>59</string>
		<key>imageName</key>
		<string>Stamp_Agra</string>
	</dict>
	<dict>
		<key>stickerId</key>
		<string>60</string>
		<key>imageName</key>
		<string>Stamp_Barcelona</string>
	</dict>
	<dict>
		<key>stickerId</key>
		<string>61</string>
		<key>imageName</key>
		<string>Stamp_Beijing</string>
	</dict>
	<dict>
		<key>stickerId</key>
		<string>62</string>
		<key>imageName</key>
		<string>Stamp_London</string>
	</dict>
	<dict>
		<key>stickerId</key>
		<string>63</string>
		<key>imageName</key>
		<string>Stamp_Moscow</string>
	</dict>
	<dict>
		<key>stickerId</key>
		<string>64</string>
		<key>imageName</key>
		<string>Stamp_New York</string>
	</dict>
	<dict>
		<key>stickerId</key>
		<string>65</string>
		<key>imageName</key>
		<string>Stamp_Paris</string>
	</dict>
	<dict>
		<key>stickerId</key>
		<string>66</string>
		<key>imageName</key>
		<string>Stamp_Rio de Janeiro</string>
	</dict>
	<dict>
		<key>stickerId</key>
		<string>67</string>
		<key>imageName</key>
		<string>Stamp_Rome</string>
	</dict>
	<dict>
		<key>stickerId</key>
		<string>68</string>
		<key>imageName</key>
		<string>Stamp_Sydney</string>
	</dict>
	<dict>
		<key>stickerId</key>
		<string>69</string>
		<key>imageName</key>
		<string>stickers_59</string>
	</dict>
	<dict>
		<key>stickerId</key>
		<string>70</string>
		<key>imageName</key>
		<string>stickers_60</string>
	</dict>
	<dict>
		<key>stickerId</key>
		<string>71</string>
		<key>imageName</key>
		<string>stickers_61</string>
	</dict>
	<dict>
		<key>stickerId</key>
		<string>72</string>
		<key>imageName</key>
		<string>stickers_62</string>
	</dict>
	<dict>
		<key>stickerId</key>
		<string>73</string>
		<key>imageName</key>
		<string>stickers_63</string>
	</dict>
	<dict>
		<key>stickerId</key>
		<string>74</string>
		<key>imageName</key>
		<string>stickers_64</string>
	</dict>
	<dict>
		<key>stickerId</key>
		<string>75</string>
		<key>imageName</key>
		<string>stickers_65</string>
	</dict>
	<dict>
		<key>stickerId</key>
		<string>76</string>
		<key>imageName</key>
		<string>stickers_66</string>
	</dict>
	<dict>
		<key>stickerId</key>
		<string>77</string>
		<key>imageName</key>
		<string>stickers_67</string>
	</dict>
	<dict>
		<key>stickerId</key>
		<string>78</string>
		<key>imageName</key>
		<string>stickers_68</string>
	</dict>
	<dict>
		<key>stickerId</key>
		<string>79</string>
		<key>imageName</key>
		<string>stickers_69</string>
	</dict>
	<dict>
		<key>stickerId</key>
		<string>80</string>
		<key>imageName</key>
		<string>stickers_70</string>
	</dict>
	<dict>
		<key>stickerId</key>
		<string>81</string>
		<key>imageName</key>
		<string>stickers_71</string>
	</dict>
	<dict>
		<key>stickerId</key>
		<string>82</string>
		<key>imageName</key>
		<string>stickers_72</string>
	</dict>
	<dict>
		<key>stickerId</key>
		<string>83</string>
		<key>imageName</key>
		<string>stickers_73</string>
	</dict>
	<dict>
		<key>stickerId</key>
		<string>84</string>
		<key>imageName</key>
		<string>stickers_74</string>
	</dict>
	<dict>
		<key>stickerId</key>
		<string>85</string>
		<key>imageName</key>
		<string>stickers_75</string>
	</dict>
	<dict>
		<key>stickerId</key>
		<string>86</string>
		<key>imageName</key>
		<string>stickers_76</string>
	</dict>
	<dict>
		<key>stickerId</key>
		<string>87</string>
		<key>imageName</key>
		<string>stickers_77</string>
	</dict>
	<dict>
		<key>stickerId</key>
		<string>88</string>
		<key>imageName</key>
		<string>stickers_78</string>
	</dict>
	<dict>
		<key>stickerId</key>
		<string>89</string>
		<key>imageName</key>
		<string>stickers_79</string>
	</dict>
	<dict>
		<key>stickerId</key>
		<string>90</string>
		<key>imageName</key>
		<string>stickers_80</string>
	</dict>
	<dict>
		<key>stickerId</key>
		<string>91</string>
		<key>imageName</key>
		<string>stickers_81</string>
	</dict>
	<dict>
		<key>stickerId</key>
		<string>92</string>
		<key>imageName</key>
		<string>stickers_82</string>
	</dict>
	<dict>
		<key>stickerId</key>
		<string>93</string>
		<key>imageName</key>
		<string>stickers_83</string>
	</dict>
	<dict>
		<key>stickerId</key>
		<string>94</string>
		<key>imageName</key>
		<string>stickers_84</string>
	</dict>
	<dict>
		<key>stickerId</key>
		<string>95</string>
		<key>imageName</key>
		<string>stickers_85</string>
	</dict>
	<dict>
		<key>stickerId</key>
		<string>96</string>
		<key>imageName</key>
		<string>stickers_86</string>
	</dict>
	<dict>
		<key>stickerId</key>
		<string>97</string>
		<key>imageName</key>
		<string>stickers_87</string>
	</dict>
	<dict>
		<key>stickerId</key>
		<string>98</string>
		<key>imageName</key>
		<string>stickers_88</string>
	</dict>
	<dict>
		<key>stickerId</key>
		<string>99</string>
		<key>imageName</key>
		<string>stickers_89</string>
	</dict>
	<dict>
		<key>stickerId</key>
		<string>100</string>
		<key>imageName</key>
		<string>stickers_90</string>
	</dict>
	<dict>
		<key>stickerId</key>
		<string>101</string>
		<key>imageName</key>
		<string>stickers_91</string>
	</dict>
	<dict>
		<key>stickerId</key>
		<string>102</string>
		<key>imageName</key>
		<string>stickers_92</string>
	</dict>
	<dict>
		<key>stickerId</key>
		<string>103</string>
		<key>imageName</key>
		<string>stickers_93</string>
	</dict>
	<dict>
		<key>stickerId</key>
		<string>104</string>
		<key>imageName</key>
		<string>stickers_94</string>
	</dict>
	<dict>
		<key>stickerId</key>
		<string>105</string>
		<key>imageName</key>
		<string>stickers_95</string>
	</dict>
	<dict>
		<key>stickerId</key>
		<string>106</string>
		<key>imageName</key>
		<string>stickers_96</string>
	</dict>
	<dict>
		<key>stickerId</key>
		<string>107</string>
		<key>imageName</key>
		<string>stickers_97</string>
	</dict>
	<dict>
		<key>stickerId</key>
		<string>108</string>
		<key>imageName</key>
		<string>stickers_98</string>
	</dict>
	<dict>
		<key>stickerId</key>
		<string>109</string>
		<key>imageName</key>
		<string>stickers_99</string>
	</dict>
	<dict>
		<key>stickerId</key>
		<string>110</string>
		<key>imageName</key>
		<string>stickers_100</string>
	</dict>
	<dict>
		<key>stickerId</key>
		<string>111</string>
		<key>imageName</key>
		<string>stickers_101</string>
	</dict>
	<dict>
		<key>stickerId</key>
		<string>112</string>
		<key>imageName</key>
		<string>stickers_102</string>
	</dict>
	<dict>
		<key>stickerId</key>
		<string>113</string>
		<key>imageName</key>
		<string>stickers_103</string>
	</dict>
	<dict>
		<key>stickerId</key>
		<string>114</string>
		<key>imageName</key>
		<string>stickers_104</string>
	</dict>
	<dict>
		<key>stickerId</key>
		<string>115</string>
		<key>imageName</key>
		<string>stickers_105</string>
	</dict>
	<dict>
		<key>stickerId</key>
		<string>116</string>
		<key>imageName</key>
		<string>stickers_106</string>
	</dict>
	<dict>
		<key>stickerId</key>
		<string>117</string>
		<key>imageName</key>
		<string>stickers_107</string>
	</dict>
	<dict>
		<key>stickerId</key>
		<string>118</string>
		<key>imageName</key>
		<string>stickers_108</string>
	</dict>
</array>
</plist>
